body{
  background-color: slateblue;
}

h1{
  font-size: 33px;
  color:rgb(105, 198, 255);
  border-color: violet;
  margin: 2rem auto;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 43.5%;
  margin-right: 43%;
  padding-top: 3px;
  padding-bottom: 3px;
  border-style: dotted;
  border-radius: 70px;
  border-width: 3px;
}
h2, h3, h4, h5, h6{
  color:violet;
  font-family: 'Times New Roman', Times, serif;
}

p{
  color: rgb(105, 198, 255);
  font-family: 'Times New Roman', Times, serif;
}

.p1{
  color: violet; 
  font-family: 'Times New Roman', Times, serif;
}

img{
  border: 5px solid violet;
  border-radius: 50%;
  border-width: 3px;
  margin-left: 37.8%;
  margin-right: 44%;
  
}

li,ul{
  color:mediumseagreen;
  font-family: 'Times New Roman', Times, serif;
}