*{
  margin:0px;
  padding:0px;
  box-sizing:content-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
  background-color:violet;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-position: center;
  background-size:cover;
  }

/*This helped shape the outcome of the h1 and display picture*/
.neon{
  font-size: 35px;
  color:red;
  border-color: red;
  margin: 3rem auto;
  margin-left: 47%;
  margin-right: 43%;
  padding-top: -5px;
  padding-bottom:-5px;
  border-style: dotted;
  border-radius: 70px;
  border-width: 60px;
  transform: translate(-65%,-20%);
  color: #fff;
  text-shadow: 0 0 20px #ff005b;
  padding: 0 20px;
  opacity: .7;
}

.neon::after{
  content: attr(data-text);
  z-index: -1;
  color:#ff005b;
  filter: blur(3px);
  top: -15px;
  bottom: 40px;
  padding: 15px 15px;
  position: fixed;
}

.neon::before{
  content:'';
  background: #fe3a80;
  z-index: -2;
  opacity: .5;
  filter:blur(5px);
  padding: 0 17px;
}


/*.a1~etc. a href links*/
.a1, .a2, .a3:{
  color: mediumspringgreen;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

a{
  text-decoration: none;
}

/* visited link */
.a1:visited, .a2:visited, .a3:visited{
  color: red;
}

/*changes link color when hovered on*/
.a1:hover, .a2:hover, .a3:hover{
  color:mediumspringgreen;
  
}
/* changes the link color when clicked*/
.a1:active, .a2:active, .a3:active{
  color: mediumspringgreen;
}

.a1{
  margin-left: 14.5%;
  margin-right: 15.5%;
  font-size: 25px;
}

.a2{
  margin-right: 14%;
  font-size: 25px;
}

.a3{
  font-size: 25px;
}

.blossoms::before{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../odin-recipes/recipe-images/cherryblossom.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .24;
  z-index: -99;
}