*{
  margin:0px;
  padding:0px;
  box-sizing:content-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.blossoms::before{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../odin-recipes/recipe-images/cherryblossom.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .24;
}

body{
  background-color:violet;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size:cover;
  }



/*This helped shape the outcome of the h1 and display picture*/
.neon{
  font-size: 35px;
  color:red;
  border-color: red;
  margin: 3rem auto;
  margin-left: 45%;
  margin-right: 43%;
  padding-top: -5px;
  padding-bottom:-5px;
  border-style: dotted;
  border-radius: 68px;
  border-width: 53px;
  transform: translate(-65%,-26%);
  color: #fff;
  text-shadow: 0 0 20px #ff005b;
  padding: 0 6px;
}

.neon::after{
  content: attr(data-text);
  z-index: -1;
  color:#ff005b;
  filter: blur(3px);
  top: -15px;
  bottom: 40px;
  padding: 20px 43px;
  position: fixed;
}

.neon::before{
  content:'';
  background: #fe3a80;
  z-index: -2;
  opacity: .5;
  filter:blur(5px);
  padding: 0 17px;
}

h2{
  text-align: center;
}

/*This gives a font and color to p tag*/
p, h4{
  color: mediumspringgreen;
  font-size: 25px;
  text-align: center;
  
}
/*This gives a font and color to h2~h6 tag*/
h2, h3, h4, h5, h6{
  color:mediumspringgreen;
  font-size: 40px;
  
}
/*This helped center, round, and color the border of the img*/
img{
  border: 50px solid mediumseagreen;
  border-radius: 50%;
  border-width: 50px;
  margin-left: 33.2%;
  margin-right: 35%;
  margin-bottom: 60px;
  border-style:double;
}

/*This is what makes the scroll-img and background 
  look the way it's supposed to. Opacity changes the color to be transparent*/
.box1, .box2, .box3, .box4{
  background: red;
  padding: 9rem;
  background-image: url(../odin-recipes/recipe-images/recipe-img.jpg);
  background-repeat: no-repeat;
  opacity: 0.8 ;
  background-size: 1240px;
  background-position: -6.7cm -3.65cm;
  width:100%;
  background-blend-mode:luminosity;
  background-image: relative;
  padding-top: -15px;
  padding-bottom: -15px;
  border-radius: 10%;
  position: static;
}



.box5{
  background: red;
  padding: 9rem;
  background-image: url(../odin-recipes/recipe-images/recipe-img.jpg);
  background-repeat: no-repeat;
  opacity: 0.8;
  background-size: 2600px;
  background-position: -14.1cm -6.65cm;
  width:100%;
  background-blend-mode:luminosity;
  background-image: relative;
  padding-top: -15px;
  padding-bottom: -15px;
  border-radius: 10%;
  position: static;
}




li,ul{
  color:mediumspringgreen;
  text-align: left;
  font-size: larger;
  opacity: .9;
  margin-top: 10px;
}
/*<!--l1 = li "list 1"-->*/
.l1{
  padding-top: 0%;
  padding-bottom: 2%;
  list-style-position: inside;
}


